openapi: 3.0.3
info:
  title: LinkerLee API
  description: |
    REST API for LinkerLee, a bookmarking service. All endpoints require a Laravel
    Sanctum bearer token.

    Tokens are created in the web UI at Settings → API tokens; there is no endpoint
    that mints or revokes one. Every token carries exactly one ability, `create`,
    so read-only tokens are not currently possible and any valid token can delete
    links.

    This API is unversioned and pre-1.0. See docs/API.md for the prose reference,
    including the tag-replacement behaviour of PUT /links/{linkId}.
  version: 1.1.0
  license:
    name: MIT
    url: https://github.com/linkerlee-app/linkerlee/blob/main/LICENSE
servers:
  - url: https://linkerlee.com/api
    description: Production
  - url: http://localhost:8000/api
    description: Local development (composer dev)
  - url: '{origin}/api'
    description: Self-hosted instance
    variables:
      origin:
        default: https://linkerlee.example
        description: Scheme and host of your instance, without a trailing slash.
security:
  - sanctum: []
paths:
  /user:
    get:
      summary: Get the authenticated user
      operationId: getCurrentUser
      tags: [User]
      responses:
        '200':
          description: The authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /all-tags:
    get:
      summary: List all tags for the current user
      operationId: getAllTags
      tags: [Tags]
      responses:
        '200':
          description: Tags ordered by name
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /all-groups:
    get:
      summary: List all groups for the current user
      operationId: getAllGroups
      tags: [Groups]
      responses:
        '200':
          description: Groups ordered by title
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /links:
    post:
      summary: Create a new link
      operationId: storeLink
      description: |
        Creates a new bookmark for the authenticated user. Requires a token with
        the `create` ability. If `title` is omitted the title is fetched from the
        target URL. If `link` has no scheme, `https://` is prepended automatically.

        Note this is the only endpoint that responds with `text/plain` rather than
        JSON, and it does not return the created link. Follow up with
        `GET /links/find` if you need the record. The shape is retained because the
        published browser extension depends on it.
      tags: [Links]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreLinkRequest'
      responses:
        '200':
          description: Link created
          content:
            text/plain:
              schema:
                type: string
                example: The link was added.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /links/find:
    get:
      summary: Find one of the user's links by exact URL
      operationId: findLink
      description: |
        Answers "have I already saved this page?". Requires a token with the
        `create` ability.

        The URL is matched exactly — a trailing slash or a differing query string
        will not match.

        A `404` here is the normal negative answer, not an error condition.
      tags: [Links]
      parameters:
        - name: link
          in: query
          required: true
          description: The URL to look up.
          schema:
            type: string
            format: uri
            example: https://laravel.com/docs
      responses:
        '200':
          description: The matching link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No link with this URL exists for the user. The body is the JSON literal
            `null`. This is the normal negative answer, not an error condition.
          content:
            application/json:
              schema:
                type: object
                nullable: true
        '422':
          $ref: '#/components/responses/ValidationError'
  /links/{linkId}:
    parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: integer
          example: 42
    put:
      summary: Update a link's title and tags
      operationId: updateLink
      description: |
        Updates the title and tags of an existing link. The URL itself is immutable
        — there is no way to change `link` through the API. Requires a token with
        the `create` ability.

        **Tags are replaced, not merged.** They are synced unconditionally on every
        request, so `tags` and `newTags` together are the complete desired set. A
        request that omits both removes every tag from the link. To change only the
        title, resend the full tag set alongside it.

        A `null` title is ignored, so a title cannot be cleared through the API.
      tags: [Links]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkRequest'
      responses:
        '200':
          description: The updated link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      summary: Delete a link
      operationId: destroyLink
      description: |
        Soft-deletes the link, so it lands in the user's trash and can be restored
        from the web UI with its tags intact. Group memberships are detached and
        group link counts recomputed.

        Authorised by the `create` ability — there is no separate `delete` ability,
        since adding one would reject every token already issued.

        Group membership is not restored along with the link; only tags survive.
      tags: [Links]
      responses:
        '204':
          description: Link deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /suggest-tags:
    post:
      summary: Suggest existing tags for a URL
      operationId: suggestTags
      description: |
        Fetches the target page and returns the user's existing tags whose names
        appear in its text, matched whole-word and case-insensitively. At most 10
        are returned. Requires a token with the `create` ability.

        This endpoint never creates tags. Pass new names in `newTags` on
        `POST /links` or `PUT /links/{linkId}` instead.

        An empty array is returned when nothing matches, when the user has no tags,
        or when the page could not be fetched — these cases are indistinguishable
        to the caller.
      tags: [Tags]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestTagsRequest'
      responses:
        '200':
          description: Matching tags, at most 10. May be empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    sanctum:
      type: http
      scheme: bearer
      bearerFormat: Sanctum personal access token
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Jane Doe
        email:
          type: string
          format: email
          example: jane@example.com
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Tag:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: laravel
    Group:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Reading list
    LinkResource:
      type: object
      description: |
        The link shape returned by `GET /links/find` and `PUT /links/{linkId}`.
      properties:
        id:
          type: integer
          example: 42
        title:
          type: string
          nullable: true
          example: Laravel Documentation
        link:
          type: string
          format: uri
          example: https://laravel.com/docs
        read_at:
          type: string
          format: date-time
          nullable: true
          description: When the user marked the link read. Null while unread.
        favicon_url:
          type: string
          format: uri
          nullable: true
          description: Null until the background metadata job has run.
        preview_image_url:
          type: string
          format: uri
          nullable: true
          description: Null until the background metadata job has run.
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    StoreLinkRequest:
      type: object
      required: [link]
      properties:
        link:
          type: string
          format: uri
          maxLength: 2048
          description: URL to bookmark. Must be unique per user.
          example: https://laravel.com/docs
        title:
          type: string
          minLength: 2
          nullable: true
          description: Optional. Auto-fetched from the page if empty.
          example: Laravel Documentation
        groups:
          type: array
          nullable: true
          items:
            type: integer
          description: IDs of groups owned by the user.
          example: [1, 4]
        tags:
          type: array
          nullable: true
          items:
            type: integer
          description: IDs of existing tags to attach.
          example: [2]
        newTags:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
            maxLength: 50
          description: |
            Tag names to create and attach. Existing tags with the same name are
            reused. Combines with `tags`.
          example: [framework]
    UpdateLinkRequest:
      type: object
      description: |
        `tags` and `newTags` together are the complete desired tag set. Omitting
        both clears every tag on the link.
      properties:
        title:
          type: string
          minLength: 2
          nullable: true
          description: A null value is ignored; a title cannot be cleared here.
          example: Laravel Documentation
        tags:
          type: array
          nullable: true
          items:
            type: integer
          description: IDs of existing tags to set on the link.
          example: [2, 7]
        newTags:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
            maxLength: 50
          description: Tag names to create and set on the link.
          example: [framework]
    SuggestTagsRequest:
      type: object
      required: [link]
      properties:
        link:
          type: string
          format: uri
          description: |
            The URL whose page should be scanned. Note this is a body field, unlike
            `GET /links/find` which takes a query parameter.
          example: https://laravel.com/docs
    ValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Validation errors
        data:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            link:
              - The link field is required.
  responses:
    Unauthorized:
      description: Missing or invalid token
    Forbidden:
      description: Token lacks the required ability
    NotFound:
      description: |
        The resource does not exist, or belongs to another user. The two cases are
        deliberately indistinguishable so a caller cannot probe which IDs exist.
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
